.faq-sec {
  @media (max-width: 767px) {
    padding: 0 16px;
  }
  &__title {
    text-align: center;
    margin-bottom: 36px;
    color: var(--color-primary);
    font-weight: 400;
    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 40px;
      text-align: left;
      margin-bottom: 16px;
    }
  }
  .accordion-button::after {
    background-image: url("../images/svg/ic_arrow_down_black.svg");
    background-size: auto;
    background-position: center;
  }
  .accordion-button:not(.collapsed) {
    color: var(--color-black);
    background-color: var(--color-white);
    box-shadow: none;
  }
  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button {
    padding: 24px 0;
    @media (max-width: 767px) {
      align-items: flex-start;
    }
  }
  .accordion-item {
    border: none;
    border-bottom: 1px solid var(--color-stroke);
  }
  .accordion-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}
