.h0-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 56px;
}
.h1-semibold {
  font-family: var(--font-body);
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.h2-semibold {
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.h3-semibold {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.h4-medium {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.h4-semibold {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
.b1-semibold {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.b1-regular {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.b2-medium {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
.b2-regular {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.b3-regular {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.b3-medium {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.color-white {
  color: var(--color-white);
}
