.h0-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 56px;
}
.h1-semibold {
  font-family: var(--font-body);
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}
.h2-semibold {
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.h3-semibold {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.h3-medium {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}
.h4-medium {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.h4-semibold {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
.b1-semibold {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.b1-regular {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.b2-medium {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
.b2-regular {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.b3-regular {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}
.b3-medium {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}
.h5-regular {
  font-family: var(--font-heading);
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
}
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}
.color-text-footer {
  color: var(--color-text-footer);
}
.color-primary {
  color: var(--color-primary);
}
.color-grey {
  color: var(--color-grey);
}
.spacing {
  height: 80px;
  @media (max-width: 991px) {
    height: 64px;
  }
  @media (max-width: 767px) {
    height: 48px;
  }
}
.spacing-big {
  height: 120px;
  @media (max-width: 991px) {
    height: 64px;
  }
  @media (max-width: 767px) {
    height: 48px;
  }
}
.spacing-bigger {
  height: 160px;
}
// css lightpick

.lightpick__day.is-today {
  color: var(--color-primary);
  font-weight: 900;
  background-image: none;
}

.lightpick__day.is-in-range:hover {
  background-image: none;
  background-color: var(--color-primary);
}

.lightpick__day:not(.is-disabled):hover,
.lightpick__day.is-start-date.is-end-date {
  background-image: none;
}

.lightpick__day.is-in-range {
  background-color: rgba(194, 32, 51, 0.8);
  color: #fff;
}

.lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
  background-color: var(--color-primary);
  font-weight: 700;
}

.lightpick__month-title > .lightpick__select-months,
.lightpick__day-of-the-week {
  font-weight: 700;
}
.lightpick__month-title {
  padding: 0;
  margin-left: 8px;
}
.lightpick__month-title > .lightpick__select-months,
.lightpick__day-of-the-week {
  text-align: left;
}
.lightpick__toolbar {
  display: flex;
  gap: 5px;
}
.lightpick__next-action,
.lightpick__previous-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  background-image: url("../images/svg/ic_arrow_right_white.svg");
  background-repeat: no-repeat;
  background-position: 55% 50%;
  background-color: var(--color-primary);
  margin: 0;
}
.lightpick__previous-action {
  transform: rotate(180deg);
}
.lightpick {
  font-family: var(--font-body);
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: unset;
  font-size: 0;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  width: auto;
  height: auto;
}

// style button
.btn-view-all {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid var(--color-stroke-bold);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-stroke-bold);
  transition: all 0.3s;
  &:hover {
    background-color: var(--color-gray-bg);
    color: var(--color-stroke-bold);
  }
}
// modal
.swiper-gallery-story .swiper-slide {
  overflow: hidden;
}
#modalCustomerStory .modal-dialog {
  max-width: 800px;
}
.swiper-gallery-story .swiper-slide .slide-banner {
  height: 450px;
  border-radius: 16px;
  overflow: hidden;
}
.swiper-gallery-story .swiper-slide .slide-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
.swiper-gallery-story {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-radius: 26px;
    border: 10px solid var(--color-white);
    z-index: 2;
    inset: -8px;
    pointer-events: none;
  }
  .swiper-control {
    .custom-swiper-button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid var(--color-white);
      transition: all 0.3s;
      background-color: var(--color-white);
      &:hover {
        // border-color: var(--color-grey);
        svg {
          path {
            stroke: var(--color-grey);
          }
        }
      }
    }
    .swiper-button-next {
      right: 20px;
      svg {
        transform: translateX(1px);
        path {
          transition: all 0.3s;
        }
      }
    }
    .swiper-button-prev {
      left: 20px;
      svg {
        transform: translateX(-1px);
        path {
          transition: all 0.3s;
        }
      }
    }
  }
}
#modalCustomerStory {
  background-color: var(--color-primary);
  .modal-content {
    border-radius: 24px;
    border: none;
  }
  .modal-body {
    padding: 8px;
  }
  .modal-header {
    position: relative;
    padding: 0;
    border: none;

    .btn-close {
      position: absolute;
      right: 0;
      transform: translateX(100%);
      width: 32px;
      height: 32px;
      background-color: var(--color-white);
      opacity: 1;
      border-radius: 50%;
      font-size: 12px;
      &:focus {
        box-shadow: none;
      }
    }
  }
}
@keyframes move-forever {
  100% {
    transform: translate3d(-90px, 0, 0);
  }
  0% {
    transform: translate3d(85px, 0, 0);
  }
}

// saerch select2
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: var(--color-black);
  font-size: 14px;
  line-height: 22px;
  padding-left: 28px;
  margin-left: 12px;
}

.select2-container--default .select2-selection--single {
  border: none;
  display: flex;
  align-items: center;
  position: relative;
}

.select2-container--default .select2-selection--single::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../images/svg/ic_location.svg");
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.select2-dropdown {
  border: none;
}

.select2-search--dropdown {
  padding: 8px;
}

.select2-search--dropdown {
  padding: 8px;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 8px;
  overflow: hidden;
}

.select2-container--default .select2-results > .select2-results__options {
  padding: 8px;
  max-height: 200px;
  padding-top: 0;
}

.select2-search--dropdown .select2-search__field {
  padding: 4px 18px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  display: none;
}

.select2-results__option--selectable {
  padding: 8px 16px;
  border-radius: 4px;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  color: var(--color-black);
  background-color: var(--color-gary-opa);
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: var(--color-black);
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}

.page-width {
  padding: 0 80px;
}

.btn-custom {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-white);
  border: none;
  padding: 13px;
  border-radius: 12px;
  transition: all 0.4s ease;

  &.btn--secondary {
    background-color: var(--color-secondary);

    &:hover {
      color: var(--color-white);
      background-color: var(--color-secondary-hover);
    }
  }
}

.toastSuccess {
  position: fixed;
  z-index: 100;
  display: block !important;
  bottom: 25px;
  right: 30px;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);

  @media (max-width: 768px) {
    right: 15px;
    padding: 20px 15px;
  }

  &.active {
    transform: translateX(0%);
  }

  .toast-content {
    display: flex;
    align-items: center;

    .check {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      min-width: 35px;
      background-color: #107e2f;
      color: #fff;
      font-size: 20px;
      border-radius: 50%;

      svg {
        width: 18px;
        height: 19px;
      }

      @media (max-width: 768px) {
        min-width: 25px;
        height: 25px;
      }
    }

    .message {
      display: flex;
      gap: 4px;
      flex-direction: column;
      margin: 0 20px;
    }

    .text {
      font-size: 16px;
      font-weight: 400;
      color: var(--color-grey);

      @media (max-width: 768px) {
        font-size: 14px;
      }

      &.text-1 {
        font-weight: 600;
        color: var(--color-black);
      }
    }
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;

    svg {
      width: 12px;
      height: 12px;
    }

    &:hover {
      opacity: 1;
    }
  }

  .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-color: #107e2f;
    }

    &.active {
      &::before {
        animation: progress 5s linear forwards;
      }
    }

    @keyframes progress {
      100% {
        right: 100%;
      }
    }
  }
}

// dropdown
.dropdown-custom {
  position: relative;
  cursor: default;

  &.has-hover {
    &:hover {
      .ic {
        path {
          fill: var(--color-black);
        }
      }
      .dropdown-custom__text {
        color: var(--color-black);
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-grey);
    cursor: pointer;

    path {
      transition: all 0.3s ease;
    }
  }

  .dropdown-custom__text {
    transition: all 0.3s ease;
  }

  &__menu {
    position: absolute;
    top: calc(100% + 5px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 3;
    right: 0;
    width: 100%;
    min-width: max-content;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);

    .dropdown-custom__item {
      width: 100%;
      padding: 5px 10px;
      white-space: nowrap;
      cursor: pointer;
      transition: all 0.3s;
      border-radius: 8px;
      color: var(--color-black);

      &:hover {
        color: var(--color-primary);
        background-color: var(--color-gary-opa);
      }
    }
  }
}

.dropdown--active {
  opacity: 1;
  visibility: visible;
}

.sort {
  .dropdown-custom__menu {
    right: -18px;
  }

  .dropdown-custom__item {
    text-align: right;
  }
}

// wishlist

.wish-list {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;

  path {
    transition: all 0.3s ease;
  }

  &.active {
    path {
      fill: var(--color-tag-red);
      fill-opacity: 1;
    }
  }
}

// tour image
.tour__image {
  &:hover {
    .wish-list {
      opacity: 1;
      visibility: visible;
    }
  }
}
