.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  &__inner {
    padding: 45px 80px 15px;
    background-color: var(--color-secondary);
  }
  &__menu {
    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        li {
          a {
            transition: all 0.3s;
            &.active {
              color: var(--color-primary);
            }
            &:hover {
              color: var(--color-primary);
            }
          }
        }
        li.menu-item-has-children {
          position: relative;
          padding-right: 20px;

          &:hover {
            > a {
              color: var(--color-primary);

              &::before {
                background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
              }
            }
          }
          > a {
            position: relative;
            display: inline-block;
            &.active {
              &::before {
                background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
              }
            }
            &:hover {
              &::before {
                background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
              }
            }
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg/ic_arrow_down_white.svg");
              background-repeat: no-repeat;
              right: -20px;
              height: 22px;
              width: 12px;
              top: 8px;
              transition: all 0.3s;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 120%;

            transform: translateY(100%);
          }
          &:hover {
            .sub-menu {
              opacity: 1;
              visibility: visible;
            }
            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 8px solid transparent; /* Nửa bên trái tam giác */
            border-right: 8px solid transparent; /* Nửa bên phải tam giác */
            border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
            top: 0;
            z-index: 1;
            left: 24px;
            transform: translateY(46px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
          }
          .sub-menu {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(54px);
            flex-direction: column;
            gap: 0;
            width: 165px;
            padding: 8px;
            background-color: var(--color-white);
            border-radius: 8px;
            box-shadow: 0px 1px 10px 0px #0000001a;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            li {
              &.active {
                a {
                  background-color: var(--color-gary-opa);
                  color: var(--color-primary);
                }
              }
              width: 100%;
              &:hover {
                a {
                  background-color: var(--color-gary-opa);
                  color: var(--color-primary);
                }
              }
              a {
                padding: 8px 16px;
                background-color: var(--color-white);
                width: 100%;
                display: inline-block;
                border-radius: 4px;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }
  }
  &__main {
    gap: 32px;
  }
  &__search {
    position: relative;
    min-width: 295px;
    width: 100%;
    &--top {
      position: absolute;
      top: -30px;
      left: 0;
      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 32px;
          li {
            a {
              transition: all 0.3s;
              &.active {
                color: var(--color-primary);
              }
            }
            &:hover {
              a {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
    &--bottom {
      position: relative;
      .ic-search {
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
      }
      label {
        position: absolute;
        left: 41px;
        top: 50%;
        transform: translateY(-50%);
      }
      .label-inner {
        .text {
          color: var(--color-grey);
          line-height: 1;
          transform: translateY(2px);
          &-up {
            display: inline-block;
            position: relative;
            height: 12px;
            width: 100px;
            span {
              position: absolute;
              width: max-content;
              top: 2.5px;
              left: 0;
              animation: textSwitch 5s infinite;
              line-height: 12px;
              opacity: 0;
              &:nth-child(1) {
                animation-delay: 0s;
              }
              &:nth-child(2) {
                animation-delay: 2.5s;
              }
            }
          }
        }
      }
      #search-form {
        background-color: var(--color-white);
        border: none;
        padding: 9px 9px 9px 40px;
        border-radius: 12px;
        width: 100%;
        height: 40px;
        color: var(--color-grey);
        &:placeholder-shown + label {
          display: block;
        }
        &:not(:placeholder-shown) + label {
          display: none;
        }
      }
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__lang {
    position: relative;
    .lang__inner {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent; /* Nửa bên trái tam giác */
        border-right: 8px solid transparent; /* Nửa bên phải tam giác */
        border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
        top: -12px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
      }
    }
    .value-select {
      width: 24px;
      height: 22px;
      span {
        display: none;
      }
    }
    .language__body {
      position: absolute;
      background-color: var(--color-white);
      // bottom: -15px;
      bottom: -35px;
      left: -8px;
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      width: 40px;
      padding: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      box-shadow: 0px 1px 10px 0px #0000001a;
      border-radius: 8px;
      &.dropdown--active {
        opacity: 1;
        visibility: visible;
        .lang__inner::before {
          opacity: 1;
          visibility: visible;
        }
      }
      .language__item {
        width: auto;
        height: 25px;
        display: flex;
        // justify-content: center;
        align-items: center;
        transition: all 0.3s;
        border-radius: 4px;
        padding: 4px;
        gap: 8px;
        span {
          transform: translateY(2px);
          font-family: var(--font-body);
          font-size: 14px;
          line-height: 22px;
          color: var(--color-black);
        }
        &:hover {
          background-color: var(--color-gary-opa);
        }
      }
    }
  }
  &__wishlist {
    width: 24px;
    height: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
