.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: var(--color-secondary);
  &__inner {
    padding: 45px 80px 15px;
    @media (max-width: 1200px) {
      padding: 55px 40px 15px;
    }
    @media (max-width: 991px) {
      padding: 10px 40px;
    }
    @media (max-width: 767px) {
      padding: 10px 16px;
    }
    @media (min-width: 1441px) {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__menu {
    nav {
      ul {
        display: flex;
        align-items: center;
        gap: 32px;
        @media (max-width: 991px) {
          display: none;
        }
        li {
          a {
            transition: all 0.3s;
            &.active {
              color: var(--color-primary);
            }
            &:hover {
              color: var(--color-primary);
            }
          }
        }
        li.menu-item-has-children {
          position: relative;
          padding-right: 20px;

          &:hover {
            > a {
              color: var(--color-primary);

              &::before {
                background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
              }
            }
          }
          > a {
            position: relative;
            display: inline-block;
            &.active {
              &::before {
                background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
              }
            }
            &:hover {
              &::before {
                background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
              }
            }
            &::before {
              content: "";
              position: absolute;
              background-image: url("../images/svg/ic_arrow_down_white.svg");
              background-repeat: no-repeat;
              right: -20px;
              height: 22px;
              width: 12px;
              top: 8px;
              transition: all 0.3s;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 120%;

            transform: translateY(100%);
          }
          &:hover {
            .sub-menu {
              opacity: 1;
              visibility: visible;
            }
            &::after {
              opacity: 1;
              visibility: visible;
            }
          }
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 8px solid transparent; /* Nửa bên trái tam giác */
            border-right: 8px solid transparent; /* Nửa bên phải tam giác */
            border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
            top: 0;
            z-index: 1;
            left: 24px;
            transform: translateY(47px);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
          }
          .sub-menu {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(54px);
            flex-direction: column;
            gap: 0;
            width: 165px;
            padding: 8px;
            background-color: var(--color-white);
            border-radius: 8px;
            box-shadow: 0px 1px 10px 0px #0000001a;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            li {
              &.active {
                a {
                  background-color: var(--color-gary-opa);
                  color: var(--color-primary);
                }
              }
              width: 100%;
              &:hover {
                a {
                  background-color: var(--color-gary-opa);
                  color: var(--color-primary);
                }
              }
              a {
                padding: 8px 16px;
                background-color: var(--color-white);
                width: 100%;
                display: inline-block;
                border-radius: 4px;
                transition: all 0.3s;
              }

              &.comming-soon {
                color: rgba(33, 33, 33, 0.3);
                pointer-events: none;

                a {
                  pointer-events: none;
                  color: rgba(33, 33, 33, 0.3);

                  display: flex;
                  flex-direction: column;
                  gap: 0;
                }

                span {
                  font-size: 9px;
                  line-height: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
  &__main {
    gap: 32px;
  }
  &__logo {
    @media (max-width: 767px) {
      width: 124px;
      height: 32px;
    }
  }
  &__search {
    position: relative;
    min-width: 295px;
    width: 100%;

    @media (max-width: 1200px) {
      min-width: unset;
      position: unset;
    }

    &--top {
      position: absolute;
      top: -30px;
      left: 0;

      @media (max-width: 1200px) {
        top: 18px;
        right: 40px;
        left: unset;
      }

      nav {
        ul {
          display: flex;
          align-items: center;
          gap: 32px;
          @media (max-width: 991px) {
            display: none;
          }
          li {
            a {
              transition: all 0.3s;
              &.active {
                color: var(--color-primary);
              }
            }
            &:hover {
              a {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }
    &--bottom {
      position: relative;
      @media (max-width: 1200px) {
        min-width: 24px;
        height: 24px;
        position: relative;
      }
      @media (max-width: 991px) {
      }
      .ic-search {
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);

        @media (max-width: 1200px) {
          left: unset;
          width: 24px;
          height: 24px;
        }

        svg path {
          @media (max-width: 1200px) {
            fill: var(--color-white);
          }
        }
      }
      label {
        position: absolute;
        left: 41px;
        top: 50%;
        transform: translateY(-50%);
      }
      .label-inner {
        .text {
          color: var(--color-grey);
          line-height: 1;
          transform: translateY(2px);
          &-up {
            display: inline-block;
            position: relative;
            height: 12px;
            width: 100px;
            span {
              position: absolute;
              width: max-content;
              top: 2.5px;
              left: 0;
              animation: textSwitch 5s infinite;
              line-height: 12px;
              opacity: 0;
              &:nth-child(1) {
                animation-delay: 0s;
              }
              &:nth-child(2) {
                animation-delay: 2.5s;
              }
            }
          }
        }
      }
      #search-form {
        background-color: var(--color-white);
        border: none;
        padding: 9px 9px 9px 40px;
        border-radius: 12px;
        width: 100%;
        height: 40px;
        color: var(--color-black);
        &:placeholder-shown + label {
          display: block;

          @media (max-width: 1200px) {
            display: none;
          }
        }
        &:not(:placeholder-shown) + label {
          display: none;
        }

        @media (max-width: 1200px) {
          display: none;
        }
      }
    }

    &--mobile {
      background-color: var(--color-white);
      padding: 8px;
      border-radius: 8px;
      position: absolute;
      top: calc(100% + 8px);
      right: -40px;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

      transition: all 0.3s;
      visibility: hidden;
      opacity: 0;

      &.visible {
        opacity: 1;
        visibility: visible;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--color-white);
        top: -7px;
        z-index: 1;
        right: 43px;
      }

      form {
        display: flex;
        align-items: center;
        position: relative;

        &::before {
          content: "";
          width: 16px;
          height: 16px;
          background-image: url("../images/svg/ic_location.svg");
          position: absolute;
          top: 50%;
          left: 12px;
          transform: translateY(-50%);
        }
      }

      input {
        min-width: 270px;
        border: 1px solid var(--color-stroke);
        outline: none;
        height: 40px;
        border-radius: 12px;
        padding: 6px 12px 4px 35px;
        font-size: 12px;
        line-height: 22px;

        &::placeholder {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__lang {
    position: relative;
    @media (max-width: 991px) {
      display: none;
    }
    .lang__inner {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent; /* Nửa bên trái tam giác */
        border-right: 8px solid transparent; /* Nửa bên phải tam giác */
        border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
        top: -10px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
      }
    }
    .value-select {
      width: 24px;
      height: 22px;
      span {
        display: none;
      }
    }
    .language__body {
      position: absolute;
      background-color: var(--color-white);
      // bottom: -15px;
      bottom: -35px;
      left: -8px;
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      width: 40px;
      padding: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      box-shadow: 0px 1px 10px 0px #0000001a;
      border-radius: 8px;
      @media (max-width: 991px) {
        transform: translateY(21px);
      }
      @media (max-width: 767px) {
        transform: translateY(20px);
      }
      &.dropdown--active {
        opacity: 1;
        visibility: visible;
        .lang__inner::before {
          opacity: 1;
          visibility: visible;
        }
      }
      .language__item {
        width: auto;
        height: 25px;
        display: flex;
        // justify-content: center;
        align-items: center;
        transition: all 0.3s;
        border-radius: 4px;
        padding: 4px;
        gap: 8px;
        span {
          transform: translateY(2px);
          font-family: var(--font-body);
          font-size: 14px;
          line-height: 22px;
          color: var(--color-black);
          display: none;
        }
        &:hover {
          background-color: var(--color-gary-opa);
        }
      }
    }
  }
  &__wishlist {
    width: 24px;
    height: 24px;
    min-width: 24px;
    a {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sub {
    position: relative;
    width: 100%;

    .btn-back {
      width: 24px;
      height: 24px;

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    h4 {
      margin: 0 auto;
    }
  }
}

.header.open-menu-mobile .header__search--mobile {
  right: -10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

  &::before {
    right: 13px;
  }
}

.header.has-sub {
  @media (max-width: 767px) {
    .header__inner {
      height: 48px;
    }

    .header__logo {
      display: none;
    }

    .header__main {
      display: none !important;
    }

    .header__sub {
      display: block !important;
    }
  }
}

// header mobile
.header-mobile {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;

  &.detail {
    display: none !important;
  }

  &__list {
    padding: 12px 16px;
    background-color: var(--color-white);
    box-shadow: 0px -2px 4px rgba(189, 189, 189, 0.2);
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: relative;
    z-index: 2;

    li {
      width: 25%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      img {
        &.icon-hover {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &.active {
        img.icon-default {
          opacity: 0;
          visibility: hidden;
        }

        img.icon-hover {
          opacity: 1;
          visibility: visible;
        }

        span {
          color: var(--color-primary);
        }
      }

      &.home.active {
        svg path {
          stroke: var(--color-primary);
          fill: unset;
        }
      }

      span {
        margin-top: 4px;
        color: var(--color-grey);
        line-height: 10px;
      }

      &.menu-item-has-children.open {
        ul.sub-menu {
          opacity: 1;
          visibility: visible;
        }
      }

      ul.sub-menu {
        width: max-content;
        border-radius: 8px;
        padding: 8px;
        position: absolute;
        bottom: calc(100% + 20px);
        background-color: var(--color-white);

        opacity: 0;
        visibility: hidden;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          border-bottom: 8px solid var(--color-white);
          bottom: 1px;
          z-index: 1;
          left: 50%;
          transform: translate(-50%, 100%) rotate(180deg);
        }

        li {
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
          text-align: left;
          display: block;

          a {
            padding: 8px 16px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            white-space: nowrap;
            color: var(--color-black);
            transition: all 0.3s;
            background-color: var(--color-white);
            text-align: left;
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;

            &:hover {
              background-color: var(--color-gary-opa);
            }

            span {
              color: rgba(33, 33, 33, 0.3);
              font-size: 9px;
              line-height: 17px;
              font-weight: 500;
            }
          }

          &.comming-soon {
            a {
              color: rgba(33, 33, 33, 0.3);
            }
            pointer-events: none;
          }
        }
      }
    }
  }

  &__menu {
    height: calc(100dvh - 110px);
    background-color: var(--color-gray-bg);
    padding: 34px 16px 24px 16px;
    position: fixed;
    bottom: 62px;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    transform: translateY(0);

    &.open {
      opacity: 1;
      visibility: visible;
    }

    .menu--top {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      gap: 14px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-stroke);

      li {
        width: 25%;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin: 0 5px;
          color: var(--color-grey);
        }

        .icon {
          border-radius: 8px;
          overflow: hidden;
          background-color: var(--color-white);
          width: 100%;
          max-width: 56px;
          aspect-ratio: 1;

          display: flex;
          align-items: center;

          img {
            width: 24px;
            height: 24px;
            margin: auto;
          }
        }

        span {
          margin-top: 8px;
        }
      }
    }

    .menu--bottom {
      margin-top: 8px;

      li {
        position: relative;

        a {
          display: flex;
          align-items: center;
          color: var(--color-black);
          padding: 12px 0;
        }

        img {
          width: 24px;
          height: 24px;
          min-width: 24px;
          margin-right: 12px;
        }

        .icon-flag {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          margin-right: 0;
        }
      }
    }
  }

  &__backdrop {
    width: 100vw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}
