.partner {
  &.visa-application {
    padding: 0;
    .visa-application__body {
      gap: 24px;
    }
    .flip-card-front-image {
      width: 120px;
      aspect-ratio: 1;
    }
    .flip-card-front-content {
      background-color: var(--color-white);
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .flip-card-front-image {
      height: unset;
    }
    .flip-card-front-image {
      border-radius: 0;
    }
  }
  @media (min-width: 1441px) {
    &__inner {
      max-width: 1440px;
      width: 100%;
      margin: 0 auto;
      padding-inline: 80px;
    }
  }
  &__container {
    padding: 80px;
    background-color: var(--color-gary-opa);
    @media (max-width: 991px) {
      padding: 64px 40px;
    }
    @media (max-width: 767px) {
      padding: 48px 16px;
    }
  }
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 32px;
    }
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  &__desc {
    max-width: 630px;
    width: 100%;
    text-align: center;
  }
  &__title {
    margin-bottom: 24px;
    font-weight: 400;
    @media (max-width: 991px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    @media (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }
  &__logo {
    width: 120px;
    aspect-ratio: 1;
  }
  &__item {
    background-color: var(--color-white);
    border-radius: 16px;
    width: 100%;
    aspect-ratio: 410 / 240;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
