.tour-sec {
  &.blog-col {
    .tour-sec__item {
      width: calc((100% - 40px) / 2);
      border: none;
      padding-top: 24px;
      border-top: 1px solid var(--color-stroke);
      border-radius: 0;
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
      &:nth-child(2) {
        border-top: none;
        padding-top: 0;
      }
    }
    .travel-guide__item {
      display: grid;
      grid-template-columns: 4.5fr 5.5fr;
      gap: 16px;
    }
    .travel-guide__image {
      width: 100%;
      aspect-ratio: 217 / 122;
      margin-bottom: 0;
    }
    .travel-guide__date {
      margin-bottom: 0;
    }
    .travel-guide__name {
      -webkit-line-clamp: 3;
    }
  }
  &__container {
    padding: 0 80px;
  }
  &__title {
    margin-bottom: 24px;
  }
  &__all {
    display: flex;
    align-items: center;
    gap: 8px;
    &:hover {
      .tour-sec__all--title {
        color: var(--color-grey);
      }
      .icon {
        svg {
          path {
            stroke: var(--color-grey);
          }
        }
      }
    }
    &--title {
      font-size: 14px;
      font-weight: 500;
      color: var(--color-black);
      transition: all 0.3s;
    }
    .icon {
      svg {
        path {
          transition: all 0.3s;
        }
      }
    }
  }
  &__filter {
    margin-bottom: 40px;
  }
  &__button {
    display: flex;
    gap: 8px;
    .filter-button {
      border-radius: 19px;
      border: 1px solid var(--color-stroke);
      padding: 11px 16px;
      color: var(--color-grey);
      transition: all 0.3s;
      font-size: 14px;
      &:hover {
        border: 1px solid var(--color-stroke-bold);
        cursor: pointer;
      }
      &.active {
        background-color: var(--color-secondary);
        color: var(--color-white);
        border: 1px solid var(--color-secondary);
        pointer-events: none;
      }
    }
  }
  &__result {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  &__item {
    border: 1px solid var(--color-stroke);
    width: calc((100% - 72px) / 4);
    // aspect-ratio: 302 / 384;
    border-radius: 16px;
    overflow: hidden;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .swiper-tour {
    .swiper-slide {
      overflow: hidden;
    }
    .swiper-pagination-bullet {
      background-color: #f5f5f5cc;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: var(--color-white);
    }

    &:hover {
      cursor: pointer;
      .custom-swiper-button {
        opacity: 1;
        visibility: visible;
      }
    }
    .custom-swiper-button {
      width: 30px;
      height: 30px;
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      transform: translateY(50%);

      &.swiper-button-next {
        right: 16px;
      }

      &.swiper-button-prev {
        left: 16px;
      }
    }
    .swiper-button-next svg {
      transform: translateX(1px);
    }
    .swiper-button-prev svg {
      transform: translateX(-1px);
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 0;
    }
  }
  &__image {
    width: 100%;
    aspect-ratio: 302 / 190;
  }
  &__box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__tag {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--color-tag-red);
    border-radius: 4px;
    padding: 4px 6px;
    .countdown {
      ul {
        display: flex;
        li {
          font-size: 12px;
          font-weight: 500;
          color: var(--color-white);
        }
      }
    }
    &.top-trending {
      background-color: var(--color-tag-green);
    }
    p {
      margin-bottom: 0;
      font-size: 12px;
      font-family: var(--font-body);
      color: var(--color-white);
      transform: translateY(2px);
    }
  }
  .tour {
    &__desc {
      padding: 16px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &--start {
        color: var(--color-grey);
        margin-bottom: 4px;
      }
      &--name {
        margin-bottom: 8px;
        a{
          color: var(--color-black);
        }
      }
      ul {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 16px;
      }
      &--note {
        font-size: 12px;
        color: var(--color-grey);
        line-height: 1;
        padding: 6px 12px;
        border-radius: 4px;
        background-color: var(--color-grey-opa);
      }
      &--price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 8px;
        margin-top: auto;

        &--sale {
          transform: translateY(2px);
          width: max-content;
          color: var(--color-black);
        }
        &--regular {
          text-decoration: line-through;
          color: var(--color-grey);
          transform: translateY(2px);
          width: max-content;
        }
        &--discount {
          border-radius: 4px;
          background-color: var(--color-discount);
          color: var(--color-white);
          font-size: 12px;
          padding: 6px 4px;
        }
      }
    }
  }
  &__btn {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
