.breadcrumb {
  margin-bottom: 32px;
  @media (max-width: 991px) {
    display: none;
  }

  & > span {
    gap: 8px;
  }

  a,
  span {
    font-size: 14px;
    line-height: 1;
    color: var(--color-grey);
    transition: all 0.4s ease;
    &:hover {
      color: var(--color-black);
    }
  }

  .breadcrumb_last {
    color: var(--color-black);
  }

  .arrow {
    width: 12px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-detail {
  padding-top: 135px;
  @media (max-width: 991px) {
    padding-top: 48px;
  }
  &__container {
    @media (max-width: 991px) {
      position: relative;
      padding-top: 24px;
      &::before {
        content: "";
        width: calc(100% + 40px);
        height: 4px;
        background-color: var(--color-stroke);
        position: absolute;
        bottom: -24px;
        left: -40px;
      }
    }
    @media (max-width: 991px) {
      &::before {
        content: "";
        width: calc(100% + 16px);
        height: 4px;
        background-color: var(--color-stroke);
        position: absolute;
        bottom: -24px;
        left: -16px;
      }
    }
  }

  &.blog-detail .main-detail__container::before{
    content: unset;
  }

  .title {
    margin-bottom: 24px;
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 24px;
    }
    @media (max-width: 767px) {
      margin-bottom: 12px;
    }
  }
  .tag {
    font-size: 12px;
    line-height: 20px;
    color: var(--color-grey);
    margin-bottom: 4px;
  }

  .sub-title {
    .wrapper-tag {
      gap: 8px;
      flex-wrap: wrap;

      li {
        padding: 8px 12px;
        background-color: var(--color-gray-bg-60);
        border-radius: 4px;
        gap: 8px;
        color: var(--color-grey);

        @media (max-width: 767px){
          padding: 4px 8px;
        }
      }

      .icon {
        width: 16px;
        height: 16px;
      }
    }

    .wrapper-action {
      gap: 8px;
      @media (max-width: 991px) {
        display: none !important;
      }
      .print,
      .share {
        padding: 10px;
        border-radius: 50%;
        border: 1px solid var(--color-stroke);
        cursor: pointer;
        transition: all 0.4s ease;
        width: 38px;
        height: 38px;
        position: relative;

        &:hover{
          .share-dropdown{
            opacity: 1;
            visibility: visible;
          }
        }

        img {
          width: 16px;
          height: 16px;
        }

        &:hover {
          border: 1px solid var(--color-grey);
        }
      }
    }
  }

  .share-dropdown{
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    width: max-content;
    z-index: 11;
    position: absolute;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);
    border-radius: 8px;
    transition: all 0.4s;
    padding: 8px;
    top: calc(100% + 10px);
    right: -1px;
    visibility: hidden;
    opacity: 0;

    @media (max-width: 991px){
      right: -3px;
    }

    li{
      width: 100%;
    }

    a{
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      width: 100%;
      min-width: max-content;
      transition: all 0.3s;
      border-radius: 4px;
      background-color: var(--color-white);
      color: var(--color-secondary);

      svg path{
        transition: all 0.3s;
      }

      &:hover{
        background-color: var(--color-gray-bg-60);
        color: var(--color-primary);

        svg path{
          fill: var(--color-primary);
        }
      }

      .icon{
        width: 24px;
        height: 24px;
        min-width: 24px;
      }
    }

    &::after{
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid var(--color-white);
      top: -7px;
      z-index: 1;
      right: 10px;
    }

    &::before{
      content: "";
      width: 38px;
      height: 10px;
      background-color: transparent;
      position: absolute;
      bottom: 100%;
      right: 0;
    }
  }

  .gallery {
    position: relative;
    @media (max-width: 991px) {
      // margin-bottom: 24px;
    }
    .share-mobile {
      position: absolute;
      z-index: 3;
      top: 24px;
      right: 60px;

      &:hover{
        .share-dropdown{
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .tour-sec__tag {
      top: 24px;
      left: 24px;
    }

    .wish-list {
      top: 24px;
      right: 24px;
      opacity: 1;
      visibility: visible;
    }

    .swiper {
      border-radius: 12px;
      overflow: hidden;
      @media (max-width: 991px) {
        border-radius: 0;
      }
      &:hover {
        .custom-swiper-button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .swiper-slide {
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .slide-banner {
      width: 100%;
      aspect-ratio: 845 / 530;
    }

    .swiper-pagination {
      bottom: 24px;
    }

    .custom-swiper-button {
      width: 30px;
      height: 30px;
      background-color: var(--color-white);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s;
      transform: translateY(50%);

      &.swiper-button-disabled {
        opacity: 0 !important;
        visibility: hidden;
      }

      &.swiper-button-next {
        right: 24px;
      }

      &.swiper-button-prev {
        left: 24px;
      }

      svg{
        transform: translateX(0.5px);
      }
    }

    .swiper-pagination-bullet {
      opacity: 1;
      background-color: rgba(245, 245, 245, 0.8);
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-white);
    }
  }

  .main-content {
    margin-top: 24px;

    &__right {
      position: sticky;
      top: 135px;
      padding-left: 60px;
      height: max-content;

      @media (max-width: 1200px) and (min-width: 992px){
        padding-left: 40px;
      }

      @media (max-width: 991px) {
        padding-left: 0;
      }

      &.tour-detail{
        @media (max-width: 991px){
          position: fixed;
          width: 100%;
          bottom: 0;
          background-color: transparent;
          left: 0;
          z-index: 9999;
          top: unset;
          display: flex;
          flex-direction: column-reverse;
        }
      }
    }
  }

  .tour-suggestion {
    border-radius: 8px;
    overflow: hidden;

    @media (max-width: 991px){
      border-radius: unset;
      overflow: auto;
      z-index: 2;
    }

    &__top {
      padding: 7px 24px;
      text-align: center;
      position: relative;
      background-color: var(--color-primary);
      color: var(--color-white);

      @media (max-width: 991px){
        display: none;
        background-color: var(--color-gray-bg-60);
        font-size: 14px;
        line-height: 22px;
        color: var(--color-stroke-bold);
        padding: 8px 16px;
        text-align: left;
        border-radius: 8px 8px 0 0;
      }

      .icon {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translateY(-50%);
      }
    }

    &__bottom {
      padding: 12px 24px 24px 24px;
      background-color: var(--color-box);

      @media (max-width: 991px){
        padding: 12px 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        background-color: var(--color-white);
        box-shadow: 0px -2px 4px rgba(189, 189, 189, 0.2);
      }

      .price {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 991px){
          align-items: flex-start;
        }
      }

      .price-top__wrapper {
        gap: 12px;
      }

      .price-regular {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        text-decoration: line-through;
        color: var(--color-grey);
      }

      .tag-sale {
        padding: 3px 6px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 18px;
        color: var(--color-white);
        background-color: var(--color-discount);
        width: max-content;
        font-weight: 500;

      }
      
      .price-sale {
        margin-top: 4px;
        font-size: 24px;
        line-height: 38px;
        color: var(--color-black);
        font-weight: bold;

        @media (max-width: 991px){
          font-size: 20px;
          line-height: 28px;
        }
      }

      button {
        width: 100%;
        margin-top: 16px;

        @media (max-width: 991px){
          max-width: 162px;
          margin-top: 0;
        }
      }
    }
  }

  .why-choose-us {
    margin-top: 24px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid var(--color-stroke);

    @media (max-width: 991px){
      background-color: var(--color-gray-bg-60);
      margin-top: 0;
      border: none;
      border-radius: 8px 8px 0 0;
      padding: 12px 16px;
      height: 42px;
      transition: all 0.4s;
    }

    .title {
      color: #333;
      margin-bottom: 8px;

      @media (max-width: 991px){
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
      }
    }

    ul {
      margin-top: 8px;
      font-size: 14px;
      line-height: 22px;

      li {
        padding-left: 24px;
        position: relative;
        color: var(--color-grey);

        @media (max-width: 991px){
          font-size: 12px;
          line-height: 22px;
        }

        &::before {
          content: "";
          width: 12.5px;
          height: 12.5px;
          background-image: url("../images/svg/icon_tick.svg");
          background-repeat: no-repeat;
          background-size: 100% 100%;

          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(4px);
        }

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }

  .departure-chedule {
    margin-top: 24px;
    border-radius: 8px;
    background-color: rgba(184, 141, 46, 0.1);
    padding: 24px;

    display: flex;
    align-items: flex-start;
    @media (max-width: 991px) {
      flex-direction: column;
      padding: 12px;
      gap: 12px;
      margin-top: 0;
    }

    p {
      width: 25%;
      font-size: 20px;
      line-height: 28px;
      color: var(--color-black);
      font-weight: 600;
      @media (max-width: 991px) {
        width: 100%;
      }
    }

    ul {
      width: 75%;
      gap: 16px;
      @media (max-width: 991px) {
        width: 100%;
        gap: 8px;
      }
      li {
        width: calc((100% - 64px) / 5);
        border: 1px solid var(--color-stroke);
        background-color: var(--color-white);
        border-radius: 8px;
        padding: 15px;
        cursor: pointer;
        transition: all 0.4s ease;

        &:nth-child(4){
          @media (max-width: 1200px){
            display: none !important;
          }
        }

        &.view-calendar{
          gap: 3px;
        }

        @media (max-width: 1200px) {
          width: calc((100% - 24px) / 4);
          padding: 13px 0;
        }
        span {
          @media (max-width: 991px) {
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
          }
        }
        .date {
          margin-top: 3px;
          @media (max-width: 991px) {
            font-size: 14px;
            line-height: 22px;
            font-weight: 500;
          }
        }
        &:hover {
          border: 1px solid var(--color-grey);
          color: var(--color-grey);
        }

        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .tour-information {
    margin-top: 24px;
    padding: 24px;
    border-radius: 12px;
    border: 1px solid var(--color-stroke);
    @media (max-width: 991px) {
      padding: 24px 0 0 0;
      border: none;
      border-radius: 0;
      position: relative;
      &::before {
        content: "";
        width: calc(100% + 80px);
        height: 4px;
        background-color: var(--color-stroke);
        position: absolute;
        top: 0px;
        left: -40px;
      }
    }
    @media (max-width: 767px) {
      &::before {
        content: "";
        width: calc(100% + 32px);
        height: 4px;
        background-color: var(--color-stroke);
        position: absolute;
        top: 0px;
        left: -16px;
      }
    }
    &__item {
      display: flex;
      align-items: flex-start;
      @media (max-width: 991px) {
        flex-direction: column;
        gap: 16px 0;
      }
      &:not(:last-child) {
        margin-bottom: 60px;
        @media (max-width: 991px) {
          margin-bottom: 56px;
        }
        @media (max-width: 767px) {
          margin-bottom: 40px;
        }
      }

      .content-left {
        width: 25%;
        @media (max-width: 991px) {
          width: 100%;
        }
      }

      .content-right {
        width: 75%;
        @media (max-width: 991px) {
          width: 100%;
        }
      }

      &.overview {
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 24px 11px;
          @media (max-width: 991px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px 14px;
          }
          li {
            display: flex;
            align-items: flex-start;
          }

          .icon {
            width: 24px;
            height: 24px;
            min-width: 24px;
            margin-right: 12px;

            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 16px;
              height: 16px;
            }
          }
        }
      }

      &.highlight {
        ul {
          li {
            padding-left: 36px;
            position: relative;

            &:not(:last-child) {
              margin-bottom: 16px;
            }

            &::after {
              content: "";
              width: 16px;
              height: 16px;
              background-image: url("../images/svg/icon-tick-black.svg");
              background-repeat: no-repeat;
              background-size: 100% 100%;

              position: absolute;
              top: 4px;
              left: 4px;
            }
          }
        }
      }

      &.chedule {
        .nav-tabs {
          border: none;
          gap: 8px;
          flex-wrap: wrap;
        }

        .nav-link {
          padding: 8px 16px;
          border-radius: 19px;
          color: var(--color-grey);
          border: 1px solid var(--color-stroke);
          transition: all 0.4s ease;

          &:hover {
            border: 1px solid var(--color-secondary);
          }

          &.active {
            color: var(--color-white);
            border: 1px solid var(--color-secondary);
            background-color: var(--color-secondary);
          }
        }

        .tab-content {
          margin-top: 24px;
          color: var(--color-black);

          .title {
            margin-bottom: 16px;
          }

          ul.location {
            margin-bottom: 24px;

            & > li {
              &:not(:last-child) {
                margin-bottom: 16px;
                position: relative;

                &::before {
                  content: "";
                  width: 4px;
                  height: calc(100% - 7px);
                  position: absolute;
                  top: 24px;
                  left: 10px;
                  background-color: transparent;
                  border-left: 4px solid transparent;
                  background-image: radial-gradient(
                    circle,
                    black 30%,
                    transparent 20%
                  );
                  background-size: 4px 10px;
                }
              }
            }
          }

          li {
            display: flex;
            align-items: flex-start;

            &:not(:last-child) {
              margin-bottom: 24px;
            }

            .icon {
              width: 24px;
              height: 24px;
              min-width: 24px;

              display: flex;
              align-items: center;
              justify-content: center;
            }

            .content {
              margin-left: 12px;

              .content {
                margin-left: 0;
                margin-top: 4px;
              }

              ul {
                padding-left: 20px;
                list-style: disc;
              }

              li {
                display: list-item;

                &:not(:last-child) {
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }

      &.expense {
        p {
          margin-bottom: 12px;

          @media (max-width: 767px){
            &.content-left{
              margin-bottom: 0;
            }
          }
        }

        .included {
          padding-right: 20px;
          @media (max-width: 991px) {
            margin-bottom: 24px;
            padding-right: 0;
          }
        }

        ul {
          li {
            padding-left: 36px;
            position: relative;

            &:not(:last-child) {
              margin-bottom: 16px;
            }

            &::after {
              content: "";
              width: 16px;
              height: 16px;
              background-image: url("../images/svg/icon-tick-black.svg");
              background-repeat: no-repeat;
              background-size: 100% 100%;

              position: absolute;
              top: 4px;
              left: 4px;
            }
          }
        }

        .not-included {
          li:after {
            background-image: url("../images/svg/icon-not-grey.svg");
          }
        }
      }

      &.more-information {
        .accordion-item {
          border: 1px solid var(--color-stroke);
          border-radius: 8px;
          overflow: hidden;
          margin-bottom: 16px;
          transition: all 0.4s;

          &:hover{
            border-color: var(--color-grey);
          }
        }

        .accordion-button {
          box-shadow: none;
          border: none;
          background-color: transparent;
          color: var(--color-black);

          &::after {
            width: 24px;
            height: 24px;
            background-size: unset;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%226%22%20viewBox%3D%220%200%2010%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201L4.71716%204.71716C4.87337%204.87337%205.12663%204.87337%205.28284%204.71716L9%201%22%20stroke%3D%22%23777777%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
          }
        }

        .accordion-body {
          padding-top: 0;

          ul {
            list-style: disc;
            padding-left: 20px;
          }

          ol {
            padding-left: 20px;
          }

          li {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.related-tour {
  .container-slider {
    position: relative;
  }

  .tour-sec__result {
    display: flex;
    flex-wrap: nowrap;
    gap: unset;
  }

  .tour-sec__item {
    height: auto;
    overflow: auto;
  }

  .tour-sec__box{
    border-radius: 16px;
    overflow: hidden;
  }

  .swiper-control .custom-swiper-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    top: -54px;
    transition: all 0.3s;
  }

  .swiper-control .swiper-button-prev {
    left: unset;
    right: 44px;
  }

  .swiper-control .swiper-button-next {
    right: 0;
  }
}

#checkoutModal {
  @media (max-width: 991px){
    z-index: 99999;
    display: block !important;
    opacity: 1;
    visibility: visible;
    transform: translateY(calc(100% + 150px));
    transition: all 0.5s;
    height: 100dvh;
  }

  &.show{
    @media (max-width: 991px){
      transform: translateY(0);
    }
  }

  &:not([step-2='true']){
    .modal-body{
      @media (max-width: 991px){
        height: calc(100dvh - 139px);
      }
    }
  }

  .btn-custom {
    min-width: 170px;
    margin: 0;

    @media (max-width: 991px){
      width: 100%;
    }
  }

  .modal-header {
    padding: 16px 24px;

    @media (max-width: 767px){
      padding: 16px;
    }
  }

  .modal-content {
    border: none;
    border-radius: 24px;
  }

  .modal-title{
    @media (max-width: 767px){
      font-size: 18px;
      line-height: 26px;
    }
  }

  .modal-body {
    padding: 16px 24px;

    @media (max-width: 991px){
      height: calc(100dvh - 191px);
      overflow-y: scroll;
    }

    @media (max-width: 767px){
      padding: 16px;
    }

    .departure {
      &-info {
        padding: 16px;
        border-radius: 16px;
        background-color: var(--color-box);

        span {
          margin-bottom: 4px;
        }

        .wrapper-tag {
          margin-top: 16px;
          gap: 8px;
          flex-wrap: wrap;

          li {
            padding: 8px 12px;
            background-color: var(--color-white);
            color: var(--color-grey);
            border-radius: 4px;
            gap: 8px;

            @media (max-width: 767px){
              padding: 4px 8px;
            }
          }

          .icon {
            width: 16px;
            height: 16px;
          }
        }
      }

      &-calendar {
        margin-top: 16px;

        @media (max-width: 991px){
          flex-direction: column;
        }

        &__main{
          @media (max-width: 991px){
            margin-top: 16px;
          }
        }

        &__title{
          @media (max-width: 767px){
            font-size: 18px;
            line-height: 26px;
          }
        }

        ul {
          width: 100%;
          gap: 16px;

          @media (max-width: 767px){
            li:nth-child(4){
              display: none !important;
            }

            gap: 8px;
          }

          li {
            width: calc((100% - 64px) / 5);
            border: 1px solid var(--color-stroke);
            background-color: var(--color-white);
            border-radius: 8px;
            padding: 15px;
            cursor: pointer;
            transition: all 0.4s ease;

            @media (max-width: 767px){
              width: calc((100% - 24px) / 4);
              padding: 10px 8px;
            }

            .date{
              margin-top: 3px;

              @media (max-width: 767px){
                font-size: 14px;
                line-height: 22px;
                font-weight: 500;
              }
            }

            span{
              @media (max-width: 767px){
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
              }
            }

            &:hover {
              border: 1px solid var(--color-grey);
              color: var(--color-grey);
            }

            &.active,
            &.active:hover {
              border: 1px solid var(--color-primary);
              background-color: var(--color-box);
              color: var(--color-black);
            }

            img {
              width: 18px;
              height: 18px;
            }
          }
        }
      }

      &-quantity {
        margin-top: 16px;
        padding-top: 16px;
        border-top: 1px solid var(--color-grey);

        &__title{
          @media (max-width: 767px){
            margin-bottom: 16px;
            font-size: 18px;
            line-height: 26px;
          }
        }

        &__item {
          padding: 16px;
          border: 1px solid var(--color-stroke);
          border-radius: 8px;

          &:not(:last-child) {
            margin-bottom: 16px;
          }

          button {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            border: 1px solid var(--color-grey);
            display: flex;
            align-items: center;
            justify-content: center;

            &[disabled="disabled"] {
              opacity: 0.5;
              cursor: default;
            }
          }

          .number {
            width: 32px;
            height: auto;
            text-align: center;
          }

          .price{
            margin-top: 8px;
          }
        }
      }
    }
  }

  .btn-close{
    box-shadow: none;
  }

  .modal-footer {
    padding: 16px 24px;
    margin: 0;

    @media (max-width: 991px){
      border: none;
      box-shadow: 0px -2px 4px rgba(189, 189, 189, 0.2);
      z-index: 999999;
    }

    @media (max-width: 767px){
      padding: 16px;
    }
  }

  .lightpick,
  .lightpick__inner,
  .lightpick__month {
    width: 100%;
  }

  .lightpick {
    box-shadow: none;
    border: 1px solid var(--color-stroke);
    border-radius: 16px;
    max-width: 500px;

    display: flex;
    margin-left: auto;
    margin-right: 0;
  }

  .lightpick__select{
    color: var(--color-black) !important;
  }

  .lightpick__day {
    width: 40px;
    margin: auto;
    border-radius: 50%;
    transition: all 0.3s;
    font-weight: 400;

    &.is-start-date,
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
      background-image: unset;
    }
  }

  .lightpick__month-title-bar {
    margin-bottom: 32px;
  }

  .total {

    & > p{
      @media (max-width: 991px){
        display: none;
      }
    }

    &-right {
      gap: 24px;

      @media (max-width: 991px){
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 4px;
        width: 100%;
      }

      button{
        @media (max-width: 991px){
          grid-column: 1 / 3;
        }
      }
    }

    .price {
      color: var(--color-primary);
    }

    .note {
      color: var(--color-grey);
    }
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 845px;
      margin: 5rem auto 7rem;
    }
  }

  @media (max-width: 991px){
    .modal-dialog {
      margin: 0;
      transform: translate(0);
      max-width: 991px;
      height: 100dvh;
    }
  }
}
.related-tour {
  &__container {
    &.page-width {
      @media (max-width: 991px) {
        padding: 0;
      }
    }
    .travel-guide__title {
      @media (max-width: 991px) {
        padding-left: 40px;
      }
      @media (max-width: 767px) {
        padding-left: 16px;
      }
    }
  }
  .swiper-control {
    @media (max-width: 991px) {
      display: none;
    }
  }
  .swiper-wrapper {
    @media (max-width: 991px) {
      padding-left: 40px;
    }
    @media (max-width: 767px) {
      padding-left: 16px;
    }
  }
  .swiper-tour {
    .swiper-wrapper {
      padding-left: 0;
    }
  }
}

.page-tour-detail{
  .modal-backdrop{
    @media (max-width: 991px){
      background-color: transparent;
    }
  }

  .toastSuccess{
    @media (max-width: 991px){
      bottom: 135px;
    }
  }
}