:root {
  --color-primary: #b88d2e;
  --color-secondary: #0a354e;
  --color-third: #307058;
  --color-white: #fff;
  --color-black: #212121;
  --color-tag-red: #e50011;
  --color-tag-green: #107e2f;
  --color-discount: #5db262;
  --color-gray: #f7f7f7;
  --color-grey: #777777;
  --color-stroke: #d8d8d8;
  --color-stroke-bold: #333333;

  --font-body: "SVN-Poppins", sans-serif;
  --font-heading: "SVN-Recoleta", sans-serif;
}
