:root {
  --color-primary: #b88d2e;
  --color-primary-hover: #d1a647;
  --color-banner-primary: #cca268;
  --color-secondary: #0a354e;
  --color-third: #307058;
  --color-white: #fff;
  --color-black: #212121;
  --color-tag-red: #e50011;
  --color-tag-green: #107e2f;
  --color-discount: #5db262;
  --color-gray: #f7f7f7;
  --color-grey: #777777;
  --color-stroke: #d8d8d8;
  --color-stroke-bold: #333333;
  --color-gary-opa: #f2f2f2;
  --color-grey-opa: #7777771a;
  --color-gray-bg: #f1f1f1;
  --color-gray-bg-60: #f5f5f5;
  --color-text-footer: rgba(241, 241, 241, 0.6);
  --color-box: #f8f4ea;
  --font-body: "SVN-Poppins", sans-serif;
  --font-heading: "SVN-Recoleta", sans-serif;
}
