@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

:root {
  --color-primary: #b88d2e;
  --color-secondary: #0a354e;
  --color-third: #307058;
  --color-white: #fff;
  --color-black: #212121;
  --color-tag-red: #e50011;
  --color-tag-green: #107e2f;
  --color-discount: #5db262;
  --color-gray: #f7f7f7;
  --color-grey: #777777;
  --color-stroke: #d8d8d8;
  --color-stroke-bold: #333333;
  --color-gary-opa: #f2f2f2;
  --font-body: "SVN-Poppins", sans-serif;
  --font-heading: "SVN-Recoleta", sans-serif;
}

.h0-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 56px;
}

.h1-semibold {
  font-family: var(--font-body);
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
}

.h2-semibold {
  font-family: var(--font-body);
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.h3-semibold {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.h4-medium {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}

.h4-semibold {
  font-family: var(--font-body);
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}

.b1-semibold {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.b1-regular {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.b2-medium {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.b2-regular {
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.b3-regular {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.b3-medium {
  font-family: var(--font-body);
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header__inner {
  padding: 45px 80px 15px;
  background-color: var(--color-secondary);
}
.header__menu nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__menu nav ul li a {
  transition: all 0.3s;
}
.header__menu nav ul li a:hover {
  color: var(--color-primary);
}
.header__menu nav ul li.menu-item-has-children {
  position: relative;
  padding-right: 20px;
}
.header__menu nav ul li.menu-item-has-children:hover > a {
  color: var(--color-primary);
}
.header__menu nav ul li.menu-item-has-children:hover > a::before {
  background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
}
.header__menu nav ul li.menu-item-has-children > a {
  position: relative;
  display: inline-block;
}
.header__menu nav ul li.menu-item-has-children > a:hover::before {
  background-image: url("../images/svg/ic_arrow_down_white_hover.svg");
}
.header__menu nav ul li.menu-item-has-children > a::before {
  content: "";
  position: absolute;
  background-image: url("../images/svg/ic_arrow_down_white.svg");
  background-repeat: no-repeat;
  right: -20px;
  height: 22px;
  width: 12px;
  top: 8px;
  transition: all 0.3s;
}
.header__menu nav ul li.menu-item-has-children::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 120%;
  transform: translateY(100%);
}
.header__menu nav ul li.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.header__menu nav ul li.menu-item-has-children:hover::after {
  opacity: 1;
  visibility: visible;
}
.header__menu nav ul li.menu-item-has-children::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* Nửa bên trái tam giác */
  border-right: 8px solid transparent; /* Nửa bên phải tam giác */
  border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
  top: 0;
  z-index: 1;
  left: 24px;
  transform: translateY(46px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.header__menu nav ul li.menu-item-has-children .sub-menu {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(54px);
  flex-direction: column;
  gap: 0;
  width: 165px;
  padding: 8px;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.header__menu nav ul li.menu-item-has-children .sub-menu li {
  width: 100%;
}
.header__menu nav ul li.menu-item-has-children .sub-menu li:hover a {
  background-color: var(--color-gary-opa);
  color: var(--color-primary);
}
.header__menu nav ul li.menu-item-has-children .sub-menu li a {
  padding: 8px 16px;
  background-color: var(--color-white);
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.3s;
}
.header__main {
  gap: 32px;
}
.header__search {
  position: relative;
  min-width: 295px;
  width: 100%;
}
.header__search--top {
  position: absolute;
  top: -30px;
  left: 0;
}
.header__search--top nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__search--bottom {
  position: relative;
}
.header__search--bottom .ic-search {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
}
.header__search--bottom label {
  position: absolute;
  left: 41px;
  top: 50%;
  transform: translateY(-50%);
}
.header__search--bottom .label-inner .text {
  color: var(--color-grey);
  line-height: 1;
  transform: translateY(2px);
}
.header__search--bottom .label-inner .text-up {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 100px;
}
.header__search--bottom .label-inner .text-up span {
  position: absolute;
  width: max-content;
  top: 2.5px;
  left: 0;
  animation: textSwitch 5s infinite;
  line-height: 12px;
  opacity: 0;
}
.header__search--bottom .label-inner .text-up span:nth-child(1) {
  animation-delay: 0s;
}
.header__search--bottom .label-inner .text-up span:nth-child(2) {
  animation-delay: 2.5s;
}
.header__search--bottom #search-form {
  background-color: var(--color-white);
  border: none;
  padding: 9px 9px 9px 40px;
  border-radius: 12px;
  width: 100%;
  height: 40px;
  color: var(--color-grey);
}
.header__search--bottom #search-form:placeholder-shown + label {
  display: block;
}
.header__search--bottom #search-form:not(:placeholder-shown) + label {
  display: none;
}
.header__cta {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header__lang {
  position: relative;
}
.header__lang .lang__inner {
  position: relative;
}
.header__lang .lang__inner::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* Nửa bên trái tam giác */
  border-right: 8px solid transparent; /* Nửa bên phải tam giác */
  border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
  top: -12px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.header__lang .value-select {
  width: 24px;
  height: 22px;
}
.header__lang .value-select span {
  display: none;
}
.header__lang .language__body {
  position: absolute;
  background-color: var(--color-white);
  bottom: -35px;
  left: -8px;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  width: 40px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 8px;
}
.header__lang .language__body.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.header__lang .language__body.dropdown--active .lang__inner::before {
  opacity: 1;
  visibility: visible;
}
.header__lang .language__body .language__item {
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 4px;
  gap: 8px;
}
.header__lang .language__body .language__item span {
  transform: translateY(2px);
  font-family: var(--font-body);
  font-size: 14px;
  line-height: 22px;
  color: var(--color-black);
}
.header__lang .language__body .language__item:hover {
  background-color: var(--color-gary-opa);
}
.header__wishlist {
  width: 24px;
  height: 24px;
}
.header__wishlist img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes textSwitch {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  10%, 50% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
.hero-sec__container {
  width: 100%;
  height: 80vh;
  position: relative;
}
.hero-sec__container .swiper-banner {
  width: 100%;
  height: 100%;
}
.hero-sec__container .swiper-banner .swiper-slide {
  overflow: hidden;
}
.hero-sec__container .swiper-banner .slide-banner {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-sec__container .swiper-banner .slide-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-sec__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 140px;
  z-index: 2;
}
.hero-sec__content--heading {
  font-size: 88px;
  line-height: 96px;
  font-family: var(--font-heading);
  color: var(--color-white);
  text-align: center;
  margin-bottom: 24px;
}
.hero-sec__content--fdl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-sec__content--fdl .fdl-img {
  width: 210px;
  height: 44px;
}
.hero-sec__content--fdl .fdl-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-sec__image {
  width: 100%;
  height: 100%;
}
.hero-sec__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-sec__search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  z-index: 2;
  max-width: 760px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 12px;
  padding: 8px;
}
.hero-sec__search .search-bar {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 140px;
}
.hero-sec .search-destination {
  display: flex;
  align-self: center;
}
.hero-sec .dropdown-custom__text {
  transform: translateY(2px);
}
.hero-sec .dropdown-custom__destination {
  position: relative;
  width: 100%;
}
.hero-sec .dropdown-custom__menu {
  position: absolute;
  background-color: var(--color-white);
  left: -8px;
  top: 70px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1019607843);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.hero-sec .dropdown-custom__menu.dropdown-up {
  bottom: 0;
  top: unset;
  transform: translateY(-75px);
}
.hero-sec .dropdown-custom__menu.dropdown-up::before {
  top: unset;
  bottom: 0;
  transform: rotate(180deg) translateY(-100%);
}
.hero-sec .dropdown-custom__menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* Nửa bên trái tam giác */
  border-right: 8px solid transparent; /* Nửa bên phải tam giác */
  border-bottom: 8px solid var(--color-white); /* Màu và chiều cao tam giác */
  top: 0;
  z-index: 1;
  left: 24px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.hero-sec .dropdown-custom__menu.dropdown--active {
  opacity: 1;
  visibility: visible;
}
.hero-sec .dropdown-custom__menu.dropdown--active::before {
  opacity: 1;
  visibility: visible;
}
.hero-sec .dropdown-custom__item {
  padding: 8px 16px;
  border-radius: 4px;
  transition: all 0.3s;
}
.hero-sec .dropdown-custom__item:hover {
  background-color: var(--color-gary-opa);
  color: var(--color-primary);
}
.hero-sec .dropdown-custom__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
}

/*# sourceMappingURL=style.css.map */
